@import "tailwindcss";


:root {
 
  --brand-primary: #0d9488;       
  --brand-hover: #0f766e;         
  --brand-dark: #042f2e;          
  --brand-light: #f0fdfa;         
  
  --layout-bg: #f5f5f4;          
  --layout-card-blend: #fafaf9;    
  --layout-border: #e7e5e4;        
  --layout-text: #1c1917;         
  --layout-muted: #78716c;         
}